.projects-main-content {
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    height: 880px;
  }

  .projects-welcome {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 90px;
  }
  
  .projects-welcome h1 {
    font-size: 24px;
    font-family: SF-Bold;
    margin:0;
  }

  .projects-welcome p {
    font-family: SF-Pro-Light;
    width: 500px;
  }
  
  .projects-projects,
  .articles-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  
  .projects-featured-projects h2,
  .articles-latest-articles h2 {
    font-family: SF-Bold;
    font-size: 34px;
    margin-bottom: 10px;
  }
  
  .projects-project-card,
  .articles-article-card {
    position: relative;
    background-color: #fff;
    height: 750px;
  }
  
  .projects-article-card {
    position: relative;
    background-color: #fff;
    height: 800px;
  }
  
  .projects-project-card:hover,
  .articles-article-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 15px 10px -15px #111;
  }
  
  .projects-project-card img,
  .articles-article-card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 500px;
    height: 600px;
  }
  
  .projects-project-card h3,
  .articles-article-card h3 {
    font-family: SF-Semibold;
    text-transform: uppercase;
  }
  
  .projects-project-card p,
  .articles-article-card p {
    font-family: SF-Pro-Light;
    line-height: 1.5;
  }
  